body {
    background-color: rgb(170, 127, 174);
    
}
h1{
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    color: rgb(0, 0, 0)
}
p{
    font-size: 30px;
    color: rgb(0, 0, 0)
}
table, tr, th, td {
    border: 1px solid black;
    width: 80%
}
tr{
    width:30%
}
th{
    width: 30%
}
td{
    width:30%
}
td{
    width:30%
}
div{
    background-color: rgb(92, 163, 116)
}